@import 'variables';

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: var(--shades-white);
    font-family: var(--font-family-primary);
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    font-style: normal;
}

.logo {
    display: flex;
    width: 150px;
    margin: auto;
}

.hero-section {
    padding: 0 100px;
    display: block;
    margin-top: 100px;
}

.hero-display-text {
    color: var(--shades-black);
    font-size: var(--font-display-2);
    font-weight: var(--font-bold);
    font-style: italic;
    line-height: 80px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 100px;
}

.cta-section {
    display: flex;
    gap: 24px;
    margin-bottom: 100px;
}

.hero-cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cta-title {
    color: var(--shades-black);
    font-size: var(--font-heading-2);
    font-weight: var(--font-bold);
    font-style: normal;
}

.main-title {
    text-align: center;
    color: var(--shades-black);
    font-size: var(--font-heading-2);
    font-weight: var(--font-bold);
    font-style: normal;
    margin-bottom: 32px;
}

.page-title {
    text-align: start;
    color: var(--shades-black);
    font-size: var(--font-heading-2);
    font-weight: var(--font-bold);
    font-style: normal;
    margin-top: 100px;
    margin-bottom: 32px;
}

.description {
    color: var(--shades-black);
    font-family: var(--font-family-secondary);
    font-size: var(--font-heading-6);
    font-weight: var(--font-medium);
    font-style: normal;
}


.favorite-challenges {
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
}

.challenge-slider {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.community-cta {
    display: flex;
    justify-content: center;
    max-width: 1148px;
    margin-left: 100px;
    margin-right: 100px;
}