@import 'variables';

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: var(--shades-white);
    font-family: var(--font-primary);
}

body {
    overflow-x: hidden;
}

li {
    list-style: none;
}

@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

.logo {
    display: flex;
    width: 150px;
    margin: auto;
}

.main-title {
    font-family: var(--font-primary);
    font-size: var(--font-6xl);
    font-weight: var(--font-bold);
    color: var(--shades-black);
    text-align: center;
    font-style: normal;
    margin-bottom: 32px;
}

.page-title {
    font-family: var(--font-primary);
    font-size: var(--font-6xl);
    font-weight: var(--font-bold);
    color: var(--shades-black);
    text-align: start;
    font-style: normal;
    margin-top: 100px;
    margin-bottom: 32px;
}

.favorite-challenges {
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
}

.challenge-slider {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.community-cta {
    display: flex;
    justify-content: center;
    max-width: 1148px;
    margin-left: 100px;
    margin-right: 100px;
}