@import 'variables';

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: $shades-white;
    font-family: $font-family-primary;
}

body {
    overflow-x: hidden;
}

.header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid $primary-900;
}

.logo {
    width: 250px;
    margin-left: 100px;
}

.navbar {
    display: flex;
    margin-right: 100px;
    align-items: center;
}

.nav-items {
    display: flex;
    color: $shades-black;
    font-size: $font-paragraph-1;
    font-weight: $font-medium;
    font-style: normal;
    gap: 40px;
    list-style: none;
    margin-right: 40px;
}

.button {
    color: $primary-900;
    padding: 8px 14px;
    border: 2px solid $primary-900;
    border-radius: 8px;
    font-family: $font-family-primary;
    font-size: $font-heading-6;
    font-weight: $font-medium;
    text-decoration: none;
}

.hero-section {
    padding: 0 100px;
    display: block;
    margin-top: 100px;
}

.hero-display-text {
    color: $primary-900;
    font-size: $font-display;
    font-weight: $font-black;
    font-style: italic;
    line-height: 80px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
}

.cta-section {
    display: flex;
    gap: 24px;
    margin-bottom: 100px;
}

.cta-title {
    color: $shades-black;
    font-size: $font-heading-2;
    font-weight: $font-bold;
    font-style: normal;
}

.main-title {
    text-align: center;
    color: $shades-black;
    font-size: $font-heading-2;
    font-weight: $font-bold;
    font-style: normal;
    margin-bottom: 32px;
}

.description {
    color: $shades-black;
    font-family: $font-family-secondary;
    font-size: $font-heading-6;
    font-weight: $font-regular;
    font-style: normal;
}

.banner {
    display: flex;
    align-items: center;
    height: 50px;
    margin-bottom: 100px;
    text-wrap: nowrap;
    background-color: $primary-500;
    font-family: $font-family-primary;
    font-size: $font-heading-6;
    font-weight: $font-medium;
}

.bento-section {
    display: flex;
    gap: 24px;
    margin-bottom: 76px;
}

.instruction-bento {
    margin-left: 100px;
    margin-right: 100px;
}

.instructive-card {
    display: flex;
    width: 562px;
    height: 160px;
    border-radius: 20px;
    margin-bottom: 24px;
}

.instructive-icon {
    width: 160px;
    height: 160px;
    margin-right: 9px;
}

.instructive-content {
    padding: 12px 12px 0 0;
}

.instructive-title {
    font-family: $font-family-primary;
    font-size: $font-heading-3;
    font-weight: $font-bold;
    margin-bottom: 12px;
}

.instructive-text {
    font-family: $font-family-secondary;
    font-size: $font-paragraph-1;
    font-weight: $font-regular;
}

.download-card {
    background-color: $secondary-900;
}

.resolve-card {
    background-color: $secondary-800;
}

.share-card {
    background-color: $secondary-600;
}

.develop-card {
    background-color: $secondary-400;
}

.benefit-card {
    display: flex;
    width: 562px;
    height: 344px;
    border-radius: 20px;
    margin-bottom: 24px;
}

.benefit-content {
    padding: 12px 32px 32px 32px;
}

.benefit-title {
    font-family: $font-family-primary;
    font-size: $font-heading-3;
    font-weight: $font-bold;
    line-height: 40px;
    margin-bottom: 12px;
}

.benefit-text {
    font-family: $font-family-secondary;
    font-size: $font-paragraph-1;
    font-weight: $font-regular;
    margin-bottom: 32px;
}

.howto-card {
    background-color: $primary-900;
}

.pro-card {
    background-color: $primary-200;
}

.light-title {
    color: $shades-white;
}

.light-text {
    color: $shades-white;
}

.dark-text {
    color: $shades-black;
}

.footer {
    height: 100px;
    display: flex;
    background-color: $primary-900;
    align-items: center;
    justify-content: space-between;
}

.footer-text, a {
    color: $shades-white;
    font-family: $font-family-primary;
    font-size: $font-paragraph-1;
    font-weight: $font-medium;
    text-decoration: none;
    margin-right: 50px;
}
