---
import CardSlider from '../components/CardSlider.astro';
import CommunityComponent from '../components/CommunityComponent.astro';
import ContactForm from '../components/ContactForm.astro';
import DiscordButton from '../components/DiscordButton.astro'
import GitHubButton from '../components/GitHubButton.astro'
import InstructionBento from '../components/InstructionBento.astro';
import Layout from '../layouts/Layout.astro';
import YouTubeButton from '../components/YouTubeButton.astro'

import '../styles/main.css'
---

<Layout title="StreamByte ⚡ - Aprende y mejora tus habilidades en Front-End con retos reales y profesionales">
	<main>
		<section class="hero-section">
			<h1 class="hero-display-text">
				Practica desarrollo frontend con retos y proyectos reales.
			</h1>
			<div class="cta-section">
				<img src="/assets/images/process-preview-windows.png" alt="Captura de proceso | Diseño de hero" />
				<div class="hero-cta">
					<h2 class="cta-title">
						¿Qué Hacemos?
					</h2>
					<p class="description">
						StreamByte es una página de retos de programación enfocados al Front-End. Mejora tus habilidades, aprende nuevas tecnologías, añade a tu portafolio y comparte tu progreso con la comunidad.
					</p>
					<div class="button-group">
						<DiscordButton>Discord</DiscordButton>
						<YouTubeButton>YouTube</YouTubeButton>
						<GitHubButton>GitHub</GitHubButton>
					</div>
				</div>
			</div>
		</section>

		<section class="favorite-challenges" id="retos">
			<div>
				<h2 class="main-title">
					Retos Seleccionados
				</h2>
				<ul class="challenge-slider">
					<CardSlider />
					<CardSlider />
					<CardSlider />
				</ul>
			</div>
		</section>

		<section class="instruction-bento">
			<h2 class="main-title">
				¿Cómo Funciona?
			</h2>
			<InstructionBento />
		</section>

		<section class="community-cta">
			<CommunityComponent />
		</section>

		<section class="contact-cta" id="contacto">
			<ContactForm />
		</section>
	</main>
</Layout>

<style is:global>
	.hero-section {
		padding: 0 100px;
		display: block;
		margin-top: 100px;
	}

	.hero-display-text {
		color: var(--shades-black);
		font-size: var(--font-display-2);
		font-weight: var(--font-bold);
		font-style: italic;
		line-height: 80px;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 100px;
	}

	.cta-section {
		display: flex;
		justify-content: center;
		gap: 24px;
		margin-bottom: 100px;
	}

	.hero-cta {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.cta-title {
		color: var(--shades-black);
		font-size: var(--font-heading-2);
		font-weight: var(--font-bold);
		font-style: normal;
		line-height: 48px;
		margin-bottom: 12px;
	}

	.description {
		color: var(--shades-black);
		font-family: var(--font-family-secondary);
		font-size: var(--font-heading-6);
		font-weight: var(--font-medium);
		font-style: normal;
		max-width: 524px;
		margin-bottom: 24px;
	}

	.button-group {
		display: flex;
		gap: 12px;
	}
	
    .instruction-bento {
        margin-left: 100px;
        margin-right: 100px;
    }

	.contact-cta {
        display: flex;
        width: 1080px;
        margin-left: 135px;
        margin-right: 135px;
    }
</style>