---
import CardSlider from '../components/CardSlider.astro';
import CommunityComponent from '../components/CommunityComponent.astro';
import ContactForm from '../components/ContactForm.astro';
import ButtonDiscord from '../components/ButtonDiscord.astro'
import InstructionBento from '../components/InstructionBento.astro';
import Layout from '../layouts/Layout.astro';
import ButtonYouTube from '../components/ButtonYouTube.astro'
import ButtonCoffee from '../components/ButtonCoffee.astro'

import '../styles/main.css';

---

<Layout title="StreamByte ⚡ - Practica y mejora tus habilidades en Front-End con retos a base de diseños reales y profesionales">
	<main>
		<div class="bg-animation">
			<div class="main blob"></div>
			<div class="second blob" />
			<div class="third blob" />
		</div>
		<section class="hero-section">
			<h1 class="hero-display-text">
				Retos Frontend diseñados a medida
			</h1>
			<div class="cta-section">
				<img src="/assets/images/process-preview-windows.png" alt="Captura de proceso | Diseño de hero" />
				<div class="hero-cta">
					<h2 class="cta-title">
						¿Qué Hacemos?
					</h2>
					<p class="description">
						StreamByte es una página de retos de programación enfocados al Front-End. Mejora tus habilidades, aprende nuevas tecnologías, añade a tu portafolio y comparte tu progreso con la comunidad.
					</p>
					<div class="button-group">
						<ButtonCoffee>Apoya al proyecto</ButtonCoffee>
						<ButtonYouTube>YouTube</ButtonYouTube>
						<ButtonDiscord>Discord</ButtonDiscord>
					</div>
				</div>
			</div>
		</section>

		<section class="favorite-challenges" id="retos">
			<div>
				<h2 class="main-title">
					Retos Seleccionados
				</h2>
				<ul class="challenge-slider">
					<CardSlider />
				</ul>
			</div>
		</section>

		<section class="instruction-bento">
			<h2 class="main-title">
				Instrucciones
			</h2>
			<InstructionBento />
		</section>

		<section class="community-cta">
			<CommunityComponent />
		</section>

		<section class="contact-cta" id="contacto">
			<ContactForm />
		</section>
	</main>
</Layout>

<style is:global>
	.hero-section {
		padding: 0 100px;
		display: block;
		margin-top: 100px;
	}

	.hero-display-text {
		font-family: var(--font-primary);
		font-size: var(--font-display-1);
		font-weight: var(--font-black);
		color: var(--shades-black);
		line-height: 96px;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 100px;
	}

	.cta-section {
		display: flex;
		justify-content: center;
		gap: 24px;
		margin-bottom: 100px;
	}

	.hero-cta {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.cta-title {
		font-family: var(--font-primary);
		font-size: var(--font-6xl);
		font-weight: var(--font-bold);
		color: var(--shades-black);
		font-style: normal;
		line-height: 48px;
		margin-bottom: 12px;
	}

	.description {
		font-family: var(--font-secondary);
		font-size: var(--font-md);
		font-weight: var(--font-medium);
		color: var(--shades-black);
		font-style: normal;
		max-width: 524px;
		margin-bottom: 24px;
	}

	.button-group {
		display: flex;
		gap: 12px;
	}
	
    .instruction-bento {
        margin-left: 100px;
        margin-right: 100px;
    }

	.community-cta {
		display: flex;
		margin: auto;
	}

	.contact-cta {
        display: flex;
		margin: auto;
        width: 1080px;
    }

	.bg-animation {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		z-index: -2;
		width: 500px;
		height: 500px;
		position: absolute;
		top: 12%;
		left: 30%;
		filter: blur(72px);
		opacity: 0.4;
	}

	.blob {
		width: 300px;
		border-radius: 100px;
	}

	.main {
		background-color: var(--primary-700);
		position: absolute;
		top: 200px;
		left: 100px;
		width: 200px;
		height: 240px;
		
		animation: main 8s infinite ease;
		}

	.second {
		background-color: var(--primary-500);
		position: absolute;
		top: 80px;
		right: -20px;
		width: 320px;
		height: 200px;
		
		animation: second 8s infinite ease;
	}

	.third {
		background-color: var(--primary-300);
		position: absolute;
		right: 0;
		top: 300px;
		width: 200px;
		height: 250px;
		
		animation: third 8s infinite linear;
	}

	@keyframes main {
		0% {top: 200px; left: 100px; transform: scale(1);}
		30% {top: 300px; left: 150px; transform: scale(1.4);}
		60% {top: 100px; left: 200px; transform: scale(1.3);}
		100% {top: 200px; left: 100px; transform: scale(1);}
	}

	@keyframes second {
		0% {top: 80px; right: -20px; transform: scale(1.2);}
		30% {top: 300px; right: -20px;transform: scale(1);}
		60% {top: 200px; right: 100px;transform: scale(1);}
		100% {top: 120px; right: -20px; transform: scale(1.4);}
	}

	@keyframes third {
		0% {top: 250px; right: 0px; transform: scale(1);}
		30% {top: 150px; right: 150px;transform: scale(1.4);}
		60% {top: 250px; right: 100px;transform: scale(1);}
		100% {top: 250px; right: 0px; transform: scale(1);}
	}

</style>