---
import Layout from '../layouts/Layout.astro';
import Banner from '../components/Banner.astro';
import InstructionBento from '../components/InstructionBento.astro';

import '../styles/main.scss'
---

<Layout title="StreamByte ⚡ - Aprende y mejora tus habilidades en Front-End con retos reales y profesionales">
	<main>
		<section class="hero-section">
			<h1 class="hero-display-text">
				Aprende desarrollo frontend con retos y proyectos reales.
			</h1>
			<div class="cta-section">
				<img src="/assets/images/process-preview-windows.png" alt="Captura de proceso | Diseño de hero" />
				<div class="hero-cta">
					<h2 class="cta-title">
						¿Qué Hacemos?
					</h2>
					<p class="description">
						StreamByte es una página de retos de programación enfocados al Front-End. Mejora tus habilidades, aprende nuevas tecnologías, añade a tu portafolio y comparte tu progreso con la comunidad.
					</p>
				</div>
			</div>
		</section>

		<Banner />

		<section class="instruction-bento">
			<h2 class="main-title">
				¿Cómo Funciona?
			</h2>
			<InstructionBento />
		</section>

		<section class="favorite-challenges">
			<h2 class="main-title">
				Retos Favoritos
			</h2>
		</section>
	</main>
</Layout>