---
import ChallengeCard from "../components/ChallengeCard.astro";
import Layout from "../layouts/Layout.astro";

import '../styles/main.scss'
---
<Layout title="Todos los retos">
    <main class="challenge-section">
        <h2 class="page-title">Lista de Retos</h2>
        <ChallengeCard />
    </main>
</Layout>
