<div class="banner">
    Aprende a programar con retos y proyectos reales, diseñados cuidadosamente y curados por la comunidad en Discord // Revisa los videos tutoriales en YouTube y pide ayuda a la comunidad // Comparte tu solución en redes sociales y agrega a tu portafolio.
</div>
