---
import StackTag from "./StackTag.astro";
import ChallengeLevel from "./ChallengeLevel.astro"

---
<div class="card-container">
    <div class="card-content">
        <img src="/assets/images/Reto-01.png" class="challenge-image" />
        <h3 class="challenge-title">
            Previsualización de producto
        </h3>
        <p class="challenge-description">
            En este reto, practicarás las bases de HTML y CSS creando una tarjeta de previsualización de producto.
        </p>
    </div>
    <div class="level-section">
        <StackTag />
        <ChallengeLevel />
    </div>
</div>