<div class="level-container">
    <p class="level-name">Nivel</p>
    <div class="star-container">
        <img src="/assets/icons/star.svg" alt="" class="star-icon">
        <img src="/assets/icons/star.svg" alt="" class="star-icon">
        <img src="/assets/icons/star.svg" alt="" class="star-icon">
        <img src="/assets/icons/star.svg" alt="" class="star-icon">
        <img src="/assets/icons/star.svg" alt="" class="star-icon">
    </div>
</div>

<style>
    .level-container {
        margin-left: 16px;
    }

    .level-name {
        font-size: var(--font-paragraph-1s);
        font-weight: var(--font-bold);
    }

    .star-container {
        display: flex;
        gap: 6px;
    }

    .star-icon {
        width: 15px;
    }
</style>