---
import ButtonDiscord from "./ButtonDiscord.astro"
import ButtonYouTube from "./ButtonYouTube.astro"
---


<main class="community-container">
    <h2 class="main-title">Únete a la comunidad</h2>
    <p class="community-text">Muchos desarrolladores se reúnen en nuestra comunidad para compartir recursos, dar ayuda, estar al tanto de los nuevos retos en StreamByte, crear proyectos en conjunto y mucho más.</p>
    <div class="button-group-center">
        <ButtonDiscord>Discord</ButtonDiscord>
        <ButtonYouTube>YouTube</ButtonYouTube>
    </div>
</main>

<style is:global>
    .community-container {
        background-color: var(--secondary-200);
        margin-bottom: 100px;
        max-width: 1080px;
        padding: 36px 36px 100px 36px;
        border-radius: 20px;
    }

    .community-text {
        font-family: var(--font-secondary);
        font-size: var(--font-md);
        font-weight: var(--font-medium);
        display: flex;
        text-align: center;
        margin-top: -24px;
        margin-bottom: 24px;
    }

    .button-group {
        display: flex;
        gap: 12px;
    }

    .button-group-center {
        display: flex;
        justify-content: center;
        gap: 12px;
    }
</style>