<main class="community-container">
    <h2 class="main-title">Únete a la comunidad</h2>
    <p class="community-text description">Muchos desarrolladores se reúnen en nuestra comunidad para compartir recursos, dar ayuda, estar al tanto de los nuevos retos en StreamByte, crear proyectos en conjunto y mucho más.</p>
</main>

<style>
    .community-container {
        padding: 36px 0 100px 0;
    }

    .community-text {
        display: flex;
        text-align: center;
        margin-top: -24px;
    }
</style>