---
import '../styles/main.css'
---
<div class="section-container">
    <div class="contact-container">
        <h2 class="cta-title">¿Necesitas una página web?</h2>
        <p class="contact-description">Hola ✨ soy José Gonzz, gracias por visitar mi pequeño proyecto. Si necesitas diseñar y desarrollar sitios web que marquen la diferencia, contáctame.</p>
        <div class="social-icons">
            <p class="social-text">¡Podemos conectar aqui!</p>

            <!-- TODO: Agregar tooltip con video preview de cada página -->

            <ul class="icon-group">
                <li>
                    <a href="https://www.linkedin.com/in/gonzz-dev/" target="_blank" rel="no-referrer">
                        <img src="/assets/icons/linkedin.svg" alt="" class="social-icon" />
                    </a>
                </li>
    
                <li>
                    <a href="https://github.com/gonzzdev" target="_blank" rel="no-referrer">
                        <img src="/assets/icons/github-dark.svg" alt="" class="social-icon" />
                    </a>
                </li>
    
                <li>
                    <a href="https://discord.gg/xWKrfDKkCY" target="_blank" rel="no-referrer">
                        <img src="/assets/icons/discord.svg" alt="" class="social-icon" />
                    </a>
                </li>
    
                <li>
                    <a href="https://www.youtube.com/@joseg0nzz" target="_blank" rel="no-referrer">
                        <img src="/assets/icons/youtube.svg" alt="" class="social-icon" />
                    </a>
                </li>
    
                <li>
                    <a href="mailto:contact@gonzz.dev" target="_blank" rel="no-referrer">
                        <img src="/assets/icons/email.svg" alt="" class="social-icon" />
                    </a>
                </li>
    
            </ul>
        </div>
    </div>
    
    <div class="contact-form">
        <form action="https://formsubmit.co/design.gonzz@gmail.com" method="POST">

            <h2 class="form-title">Hay que platicar 😘</h2>
    
            <div class="form-group">
                <label for="name" class="sr-only">Nombre:</label>
                <input type="text" name="name" placeholder="Nombre" />
    
                <label for="email" class="sr-only">E-mail:</label>
                <input type="text" name="email" placeholder="tucorreo@email.com" />
    
                <label for="message" class="sr-only">Cuéntame tu idea o proyecto:</label>
                <textarea name="message" id="message" cols="30" rows="5" placeholder="Cuéntame sobre ti o tu proyecto"></textarea>

                
                <!-- TODO: Habilitar grupo de checkbox -->

                <!-- <ul class="checkbox-group">
                    <h2 class="check-title">¿Cómo te puedo ayudar?</h2>

                    <li class="check-group">
                        <input type="checkbox" name="checkbox" id="branding-check" class="checkbox" />
                        <label for="branding-check">Diseño de marca</label>
                    </li>

                    <li class="check-group">
                        <input type="checkbox" name="checkbox" id="design-check" class="checkbox" />
                        <label for="design-check">Diseño web</label>
                    </li>
                    
                    <li class="check-group">
                        <input type="checkbox" name="checkbox" id="development-check" class="checkbox" />
                        <label for="development-check">Desarrollo web</label>
                    </li>

                    <li class="check-group">
                        <input type="checkbox" id="consultant-check" class="checkbox" />
                        <label for="consultant-check">Consultoría</label>
                    </li>

                    <li class="check-group">
                        <input type="checkbox" id="other-check" class="checkbox" />
                        <label for="other-check">Otros</label>
                    </li>    
                </ul> -->
    
                <input class="btn" type="submit" value="Enviar" />

                <input type="hidden" name="_captcha" value="false">

                <input type="hidden" name="_next" value="https://streambyte.mx" />

            </div>
    
        </form>
    </div>
</div>


<style is:global>
    .section-container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 100px;
        gap: 90px;
    }

    .contact-container {
        width: 462px;
        height: 548px;
    }

    .contact-description {
        font-family: var(--font-secondary);
		font-size: var(--font-md);
		font-weight: var(--font-medium);
		font-style: normal;
    }

    .social-text {
        font-family: var(--font-secondary);
        font-size: var(--font-base);
        font-weight: var(--font-bold);
        margin-bottom: 8px;
    }

    .social-icons {
        display: flex;
        flex-direction: column;
        margin-top: 290px;
    }

    .icon-group {
        display: flex;
        list-style: none;
        gap: 14px;
    }

    .social-icon {
        transition: 120ms;
    }

    .social-icon:hover {
        scale: 1.2;
    }

    .contact-form {
        background-color: var(--shades-white);
        border: 2px solid var(--primary-900);
        padding: 24px 32px 45px 32px;
        width: 528px;
        height: 548px;
        border-radius: 20px;
        transition: 120ms;
    }

    .contact-form:hover {
        transform: translate(-6px, -6px);
        box-shadow: 6px 6px var(--primary-900);
        background-color: var(--primary-50);
    }

    .form-title {
        font-family: var(--font-primary);
        font-size: var(--font-4xl);
        font-weight: var(--font-bold);
        margin-bottom: 24px;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        gap: 22px;
    }

    .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: 0;
        overflow: hidden;
        white-space: nowrap;
        border: 0;
    }

    label {
        font-family: var(--font-primary);
        font-size: var(--font-md);
    }
    
    input[type="text"],
    input[type="email"],
    textarea {
        padding: 10px 0px 10px 4px;
        background-color: transparent;
        border: none;
        border-bottom: 2px solid var(--primary-900);
    }
    
    input[type="text"]::focus,
    input[type="email"]::focus,
    textarea {
        background-color: transparent;
        border: none;
        border-bottom: 2px solid var(--primary-900);
    }
    
    input::placeholder, textarea::placeholder {
        font-family: var(--font-primary);
        font-size: var(--font-base);
        font-weight: var(--font-semibold);
        color: var(--shades-black);
    }
    
    input::placeholder {
        padding: 10px 0;
    }

    .check-title {
        font-family: var(--font-primary);
        font-size: var(--font-md);
        font-weight: var(--font-semibold);
    }

    .checkbox-group {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .check-group {
        display: flex;
        gap: 8px;
    }

    .checkbox {
        appearance: none;
        -webkit-appearance: none;
        border: 2px solid var(--shades-black);
        border-radius: 2px;
        width: 20px;
        height: 20px;
        box-shadow: 1px 1px 0 var(--shades-black);
    }

    .btn {
        font-family: var(--font-prmiary);
        font-size: var(--font-md);
        font-weight: var(--font-medium);
        background-color: var(--shades-white);
        border: 2px solid var(--primary-900);
        border-radius: 8px;
        padding: 8px 14px;
        transition: 120ms;
        z-index: 1;
        margin-top: 24px;
        cursor: pointer;
    }

    .btn:hover {
        box-shadow: 4px 4px 0 var(--primary-900);
        background-color: var(--primary-300);
        transform: translate(-4px, -4px);
        transform: translate(-4px, -4px);
    }
</style>