<footer class="footer">
    <a href="#">
        <img src="/assets/images/logotype-2.png" alt="Logotipo de StreamByte" class="logo" />
    </a>
    <p class="footer-text">
        Creado con mucho 💚 por <a href="#">@joseG0nzz</a>
    </p>
</footer>