<footer class="footer">
    <div class="footer-content">
        <a href="#">
            <img src="/assets/images/logotype-2.png" alt="Logotipo de StreamByte" class="logo" />
        </a>
        <p class="footer-text">
            Creado con mucho 
            <img src="/assets/icons/green-heart.webp" alt="icono de corazón verde animado" class="heart-icon">
             por y para la <a href="#" class="footer-link">comunidad</a>
        </p>
    </div>
</footer>

<style is:global>
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100px;
        background-color: var(--primary-900);
    }

    .footer-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 100px;
        margin-right: 100px;
    }

    .logo {
        transition: 120ms;
    }

    .logo:hover {
        scale: 1.1;
    }

    .footer-text {
        font-family: var(--font-primary);
        font-size: var(--font-base);
        font-weight: var(--font-medium);
        color: var(--shades-white);
    }

    .heart-icon {
        width: 18px;
        margin: auto;
    }

    .footer-link {
        color: var(--shades-white);
        text-decoration: none;
        transition: 120ms;
    }

    .footer-link:hover {
        color: var(--primary-500);
    }
</style>