<footer class="footer">
    <a href="#">
        <img src="/assets/images/logotype-2.png" alt="Logotipo de StreamByte" class="logo" />
    </a>
    <p class="footer-text">
        Creado con mucho 💚 por <a href="#">@joseG0nzz</a>
    </p>
</footer>

<style is:global>
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100px;
        background-color: var(--primary-900);
    }

    .footer-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 100px;
        margin-right: 100px;
    }

    .footer-text, a {
        color: var(--shades-white);
        font-family: var(--font-family-primary);
        font-size: var(--font-size-sm);
        font-weight: var(--font-weight-medium);
        text-decoration: none;
    }

    .heart-icon {
        width: 18px;
        margin: auto;
    }
</style>