---
import ButtonGitHub from "./ButtonGitHub.astro"
---

<header class="header">
    <a href="/#" class="header-logo">
        <img src="/assets/images/logo-main.png" alt="Logotipo de StreamByte" class="logo" />
        <span class="accent-text-beta">Beta</span>
    </a>
    <nav class="navbar">
        <ul class="items-container">
            <a href="/#" class="nav-items">
                <li>Home</li>
            </a>
            <a href="/challenges" class="nav-items">
                <li>Retos</li>
            </a>
            <a href="/#" class="disabled-item nav-items">
                <li>Soluciones</li>
            </a>
            <a href="/#contacto" class="nav-items">
                <li>Contacto</li>
            </a>
        </ul>
        <ButtonGitHub>Deja una estrella</ButtonGitHub>
    </nav>
</header>

<style is:global>
    .header {
        height: 75px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 2px solid var(--primary-900);
    }

    .header-logo {
        display: flex;
        margin-left: 100px;
        transition: 120ms;
        gap: 8px;
    }

    .header-logo:hover {
        scale: 1.1;
    }

    .header-logo:hover .accent-text-beta {
        transform: rotate(20deg);
    }

    .accent-text-beta {
        font-size: var(--font-sm);
        font-weight: var(--font-bold);
        text-transform: uppercase;
        color: var(--shades-white);
        background-color: var(--primary-500);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 8px;
        border-radius: 20px;
        transition: 120ms;
        z-index: 2;
    }

    .accent-text-beta, a {
        text-decoration: none;
    }

    .accent-text-beta:hover {
        scale: 1.1;
        background-color: var(--secondary-500);
    }

    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 40px;
        margin-right: 100px;
    }

    .items-container {
        display: flex;
        gap: 40px;
    }

    .nav-items {
        font-family: var(--font-primary);
        font-weight: var(--font-bold);
        font-size: var(--font-base);
        color: var(--shades-black);
        text-decoration: none;
        list-style: none;
        transition: 120ms;
    }

    .nav-items:hover {
        color: var(--primary-500);
        transform: scale(1.05);
    }

    .disabled-item {
        color: var(--neutral-500);
        filter: blur(1.5px);
    }


</style>