---
import LoginButton from "./LoginButton.astro"
---

<header class="header">
    <a href="#">
        <img src="/assets/images/logotype.png" alt="Logotipo de StreamByte" class="logo" />
    </a>
    <nav class="navbar">
        <ul class="nav-items">
            <li>Retos</li>
            <li>Soluciones</li>
            <li>Pro</li>
        </ul>
        <LoginButton />
    </nav>
</header>