---
import LoginButton from "./LoginButton.astro"
---

<header class="header">
    <a href="/#" class="header-icon">
        <img src="/assets/images/logotype.png" alt="Logotipo de StreamByte" class="logo" />
    </a>
    <nav class="navbar">
        <ul class="nav-items">
            <a href="/retos">
                <li>Retos</li>
            </a>
            <a href="">
                <li>Soluciones</li>
            </a>
            <a href="">
                <li>Pro</li>
            </a>
        </ul>
        <LoginButton />
    </nav>
</header>

<style is:global>
    .header {
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 2px solid var(--primary-900);
    }

    .header-icon {
        margin-left: 100px;
    }

    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 40px;
    }

    .nav-items, li {
        display: flex;
        color: var(--shades-black);
        font-size: var(--font-heading-6);
        font-weight: var(--font-medium);
        list-style: none;
        gap: 40px;
    }
</style>