---
import LoginButton from "./LoginButton.astro"
---

<header class="header">
    <a href="/#">
        <img src="/assets/images/logotype.png" alt="Logotipo de StreamByte" class="logo" />
    </a>
    <nav class="navbar">
        <ul class="nav-items">
            <a href="/retos">
                <li>Retos</li>
            </a>
            <a href="">
                <li>Soluciones</li>
            </a>
            <a href="">
                <li>Pro</li>
            </a>
        </ul>
    </nav>
    <LoginButton />
</header>