---
import LoginButton from '../components/LoginButton.astro'
---

<div class="bento-section">
    <!-- Sección de instrucciones -->
    <div class="bento-container">
        <ul class="instructions">

            <li class="benefit-card howto-card">
                <div class="benefit-content">
                    <h3 class="benefit-title light-title">
                        ¡No más Tutorial Hell!
                    </h3>
                    <p class="benefit-text light-text">
                        Todos hemos estado en esa situación en la que no puedes empezar ningún proyecto si no vas de la mano de un tutorial. Es importante practicar las habilidades que aprendas.
                    </p>
                    <p class="benefit-text light-text">
                        La finalidad de StreamByte no es reemplazar los videos, sino darte una colección de retos de programación basados en prototipos de Figma diseñados y discutidos en comunidad. 
                    </p>
                </div>
            </li>

            <div class="instructive-container">
                <li class="instructive-card download-card">
                    <div class="instructive-content">
                        <h3 class="instructive-title light-title">
                            Descarga
                        </h3>
                        <p class="instructive-text light-text">
                            Todos los elementos gráficos, sistema de diseño y prototipo creado profesionalmente en Figma, las instrucciones del reto y plantilla inicial del sitio web.
                        </p>
                    </div>
                    <img src="/assets/images/figma-icon-3d.png" alt="" class="instructive-icon" />
                </li>
                <li class="instructive-card resolve-card">
                    <div class="instructive-content">
                        <h3 class="instructive-title light-title">
                            Resuelve
                        </h3>
                        <p class="instructive-text light-text">
                            Puedes usar HTML, CSS y JavaScript para realizar los retos siguiendo el tutorial. Aunque eres libre de resolverlo usando tus tecnologías favoritas.
                        </p>
                    </div>
                    <img src="/assets/images/pickaxe-icon-3d.png" alt="" class="instructive-icon" />
                </li>
            </div>

            <div class="instructive-container">
                <li class="instructive-card share-card">
                    <div class="instructive-content">
                        <h3 class="instructive-title dark-title">
                            Comparte
                        </h3>
                        <p class="instructive-text dark-text">
                            Agrega el reto a tu portafolio o puedes utilizarlo como punto de partida para proyectos nuevos. Comparte con la comunidad para recibir ayuda y feedback.
                        </p>
                    </div>
                    <img src="/assets/images/at-icon-3d.png" alt="" class="instructive-icon" />
                </li>
                <li class="instructive-card develop-card">
                    <div class="instructive-content">
                        <h3 class="instructive-title dark-title">
                            Mejora
                        </h3>
                        <p class="instructive-text dark-text">
                            Añade más funcionalidades, interacciones, animaciones o cualquier cosa que desees agregar. Las soluciones con más votos se premiarán.
                        </p>
                    </div>
                    <img src="/assets/images/brush-icon-3d.png" alt="" class="instructive-icon" />
                </li>
            </div>
        </ul>
    </div>
    
<!-- Sección de beneficios -->
    <div class="bento-container">
        <ul class="instructions">
            <li class="benefit-card howto-card">
                <div class="benefit-content">
                    <h3 class="benefit-title light-title">
                        ¡No más Tutorial Hell!
                    </h3>
                    <p class="benefit-text light-text">
                        Los tutoriales son muy buenos, pero no podemos depender de ellos para todos nuestros proyectos, practicar con diseños reales y resolver utilizando nuestros propios métodos ayuda mucho a salir del “Tutorial Hell”.
                    </p>
                    <p class="benefit-text light-text">
                        Así que StreamByte te invita a usar el lenguaje de tu preferencia, añadir animaciones, elaborar más páginas o cambiar el diseño, las soluciones más votadas por la comunidad aparecerán en este sitio.
                    </p>
                </div>
            </li>
            <!-- <li class="benefit-card pro-card">
                <div class="benefit-content">
                    <h3 class="benefit-title dark-title">
                        Adiós al síndrome del impostor
                    </h3>
                    <p class="benefit-text dark-text">
                        Cuando vas comenzando, aprender programación puede parecer imposible, sobre todo si estás vas por tu cuenta. Ahí entramos nosotros.
                    </p>
                    <p class="benefit-text dark-text">
                        Esta página fue creada para ayudar a otros devs que buscan diseños, componentes y recursos de calidad para aprender y seguir practicando.
                    </p>
                    <p class="benefit-text dark-text">
                        Si quieres subscribirte a la newsletter con retos exclusivos, tener acceso a retos premium y otras sorpresas más, considera ser miembro Pro.
                    </p>
                </div>
            </li> -->
        </ul>
    </div>
</div>

<style is:global>
    .bento-container {
        display: flex;
        justify-content: center;
    }

    .bento-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }

    .instructive-container {
        display: flex;
        gap: 24px;
    }

    .instructive-card {
        display: grid;
        width: 528px;
        height: 254px;
        border-radius: 20px;
        margin-bottom: 24px;
        overflow: hidden;
    }

    .instructive-icon {
        display: flex;
        margin: auto;
        width: 320px;
        height: 320px;
        transform: rotate(-30deg);
        z-index: 0;
        margin-top: -280px;
        margin-right: -120px;
        transition: 120ms;
    }

    .instructive-icon:hover {
        scale: 1.2;
        translate: -20%;
    }

    .instructive-content {
        padding: 24px 0 32px 32px;
        width: 350px;
        z-index: 2;
    }

    .instructive-title {
        font-family: var(--font-family-primary);
        font-size: var(--font-heading-3);
        font-weight: var(--font-bold);
        margin-bottom: 12px;
    }

    .instructive-text {
        font-family: var(--font-family-secondary);
        font-size: var(--font-heading-6);
        font-weight: var(--font-medium);
    }

    .download-card {
        background-color: var(--secondary-700);
    }

    .resolve-card {
        background-color: var(--secondary-700);
    }

    .share-card {
        background-color: var(--secondary-400);
    }

    .develop-card {
        background-color: var(--secondary-400);
    }

    .benefit-card {
        display: flex;
        width: 1080px;
        height: 254px;
        border-radius: 20px;
        margin-bottom: 24px;
    }

    .benefit-content {
        padding: 24px 32px 32px 32px;
    }

    .benefit-title {
        font-family: var(--font-family-primary);
        font-size: var(--font-heading-3);
        font-weight: var(--font-bold);
        line-height: 40px;
        margin-bottom: 12px;
    }

    .benefit-text {
        font-family: var(--font-family-secondary);
        font-size: var(--font-heading-6);
        font-weight: var(--font-medium);
        margin-bottom: 32px;
    }

    .howto-card {
        background-color: var(--secondary-900);
    }

    .light-title {
        color: var(--shades-white);
    }

    .light-text {
        color: var(--shades-white);
    }

    .dark-text {
        color: var(--shades-black);
    }
</style>