<a href="#" class="button">
    Inicia sesión
</a>

<style is:global>
    .button {
    color: var(--primary-900);
    padding: 8px 14px;
    border: 2px solid var(--primary-900);
    border-radius: 8px;
    font-family: var(--font-family-primary);
    font-size: var(--font-heading-6);
    font-weight: var(--font-medium);
    text-decoration: none;
    margin-right: 100px;
}
</style>