<a href="#" class="button">
    <div class="button-content">
        <img src="/assets/icons/login-icon.svg" alt="" class="icon">
        <slot />
    </div>
</a>

<style is:global>
    .button {
        position: relative;
        color: var(--primary-900);
        padding: 8px 14px;
        border: 2px solid var(--primary-900);
        border-radius: 8px;
        font-family: var(--font-family-primary);
        font-size: var(--font-heading-6);
        font-weight: var(--font-medium);
        text-decoration: none;
        display: inline-block;
        transition: 120ms;
        background-color: var(--shades-white);
        z-index: 1;
    }

    .button-content {
        display: flex;
        position: relative;
    }

    .icon {
        width: 20px;
        margin-right: 10px;
    }

    .button:hover {
        transform: translate(8px, 8px);
        box-shadow: 8px 8px 0 var(--primary-900);
        background-color: var(--primary-400);
        transform: translate(-4px, -4px);
    }
</style>