<ul class="stack">
    <li class="html tag">HTML</li>
    <li class="css tag">CSS</li>
    <li class="js tag">JS</li>
    <!-- <li class="nojs tag">JS</li> -->
</ul>

<style is:global>
    .stack {
        display: flex;
        list-style: none;
        gap: 8px;
    }

    .tag {
        font-family: var(--font-primary);
        font-size: var(--font-sm);
        font-weight: var(--font-bold);
        color: var(--shades-black);
        display: flex;
        align-items: center;
        padding: 8px 12px;
        border-radius: 100px;
    }

    .html,
    .css,
    .js {
        background-color: var(--primary-400);
        transition: 200ms;
    }

    .nojs {
        background-color: var(--neutral-300);
        transition: 200ms;
    }

    .html:hover {
        background-color: var(--html-color);
        scale: 1.1;
    }

    .css:hover {
        background-color: var(--css-color);
        scale: 1.1;
    }

    .js:hover {
        background-color: var(--js-color);
        scale: 1.1;
    }

    .nojs:hover {
        scale: 1.1;
    }
</style>