<a href="https://www.youtube.com/@joseg0nzz" target="_blank" rel="noreferrer" class="youtube-button">
    <div class="button-content">
        <img src="/assets/icons/youtube.svg" alt="" class="youtube-icon">
        <slot />
    </div>
</a>

<style is:global>
    .youtube-button {
        position: relative;
        color: var(--primary-900);
        padding: 8px 14px;
        border: 2px solid var(--primary-900);
        border-radius: 8px;
        font-family: var(--font-family-primary);
        font-size: var(--font-heading-6);
        font-weight: var(--font-medium);
        text-decoration: none;
        display: inline-block;
        transition: 120ms;
        background-color: var(--shades-white);
        z-index: 1;
    }

    .button-content {
        display: flex;
        position: relative;
    }

    .youtube-icon {
        width: 24px;
        margin-right: 10px;
    }

    .youtube-button:hover {
        transform: translate(8px, 8px);
        box-shadow: 8px 8px 0 var(--primary-900);
    }

    .youtube-button:hover {
        background-color: var(--shades-white);
        transform: translate(-4px, -4px);
    }
</style>